In [2]:
phonebook={"Venky":9036,"Varma":8976,"Rahul":3145,"Preetham":6377}
print(phonebook)

name = input("Enter the name whose number to be modified")
if name in phonebook:
    newnumb = input("Enter the new number")
    phonebook[name] = newnumb
    print("Modified successfully")
    print(phonebook)
else:
    print(name, "was not found.")

{'Venky': 9036, 'Varma': 8976, 'Rahul': 3145, 'Preetham': 6377}

Enter the name whose number to be modified Venky
Enter the new number 4566

Modified successfully
{'Venky': '4566', 'Varma': 8976, 'Rahul': 3145, 'Preetham': 6377}

In [4]:
phonebook={"Jishnu":3908,"Roma":6590,"Vishnu":5312}
print(phonebook)
phonebook["Bintu"]=4543
print(phonebook)
phonebook.update({"Vetri":8799})
print(phonebook)

{'Jishnu': 3908, 'Roma': 6590, 'Vishnu': 5312}
{'Jishnu': 3908, 'Roma': 6590, 'Vishnu': 5312, 'Hity': 4543}
{'Jishnu': 3908, 'Roma': 6590, 'Vishnu': 5312, 'Hity': 4543, 'Vetri': 8799}

In [5]:
phonebook={"manoj":3678,"Anish":1456}
print(phonebook)

name = input("enter the name to delete:")
if name in phonebook:
    del phonebook[name]
    print ("delete successfully")
    print (phonebook)
else:
    print (name,"was not found")

{'manoj': 3678, 'Anish': 1456}

enter the name to delete: Anish

delete successfully
{'manoj': 3678}

In [6]:
phonebook={"Neha":9768,"Sheety":8956}
print(type(phonebook))

phonebook.clear()
print(phonebook)

print(phonebook.keys())

<class 'dict'>
{}
dict_keys([])

In [7]:
n = int(input("Enter number of employees: "))
employees = {}
for i in range(n):
    name = input(f"\nEnter name of employee {i+1}: ")
    number = input(f"Enter employee number of {name}: ")
    employees[name] = number
print("\nEmployee Records:")
for name, number in employees.items():
    print(f"Name: {name}, Employee Number: {number}")

Enter number of employees:  1

Enter name of employee 1:  dini
Enter employee number of dini:  3947

Employee Records:
Name: dini, Employee Number: 3947